<template>
	<div
		class="md:max-w-screen-lg min-[320px]:max-w-sm mx-auto min-[320px]:my-6 h-screen
  flex flex-col p-8 items-center gap-8 border-2 border-violet-900 rounded-[64px]"
	>
		<div class="text-4xl">
			Nuxt Template
		</div>
		<div class="text-2xl">
			EXAMPLE
		</div>
		<div class="text-2xl">
			Title
		</div>
		<div class="text-2xl">
			Subtitle
		</div>
		<div class="font-serif text-lg">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
			incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
			exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
			irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
			deserun mollit anim id est laborum. testing git config
		</div>
	</div>
</template>

<script lang="ts" setup></script>

<style></style>
